body	{margin:0 auto; padding:0; width:1000px; font-size: 10pt; font-family:Verdana, Arial, Helvetica;}
.navBar	{display: none;}
#topNavSearch { display:none;}
#navSearch	{display: none; }

#logo 	{display: none;}
#content2	{display: none;}
#topMastCenter 	{float:left;  padding:0; margin:0; height:82px;}
.siteMapBreadCrumb	 {display: none; }

#pageTitle {color:#555555; font-family: Arial, Helvetica, sans-serif; font-size: 18pt; display: block;}

.contentWrapper		{clear: both; width:100%;}
#subNavContentRt 	{display: none;}
#globe				{display: none;}

h1		{font-size: 10pt; font-weight:bold;}
h2		{color:#555555; font-size: 14pt; padding-bottom:3px; margin:0px; margin-top: 25px; }

div#a1	{ display: block; }
div#a2	{ display: block; }
div#a3	{ display: block; }
.printing	{ display: block; }


#subNavContent {display:none;}

#footer	{display: none;}
 
.tagline {display:block; margin-top:100px;}
.taglineBrief {display:block;}
.taglineBriefWTallImg {display:block;}

.taglineBriefWTallImg img {float:left;}

.prodDetailLinkBox {display:block;}
.prodDetailLinkBoxWTallImg {display:block; padding-top:30px;}

.printFooter	{display:block; padding-top:5px;}
.printHeader	{display:block; padding-bottom:5px;}

.subPageTabOn	a		{font-size:14pt; font-weight:bold;}

/* :::::: print styles for home page ::::: */

.contentWrapperHome		{width:100%;}
#colOneHome				{float:left; padding-top:10px; padding-right:5px;}
#colTwoHome				{float:left; padding-top:10px; padding-right:5px;}
#colThreeHome			{float:left; padding-top:10px; padding-right:5px;}
#colFourHome			{float:left; padding-top:10px; padding-right:5px; padding-top:70px;}
#colFiveHome			{display:left; padding-top:10px;}

#colTwoHome		p		{width:170px;}
#colThreeHome	p		{width:170px;}
#colFiveHome	p		{width:170px;}

img {border:none;}

.bottomPic				{padding-top:10px;}
